<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.lqasse.zoff" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="16"
        android:targetSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>


                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:host="www.zoff.no" android:scheme="http"></data>
            </intent-filter>
        </activity>
        <activity
            android:name=".Player.PlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Search.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".Player.PlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Remote.RemoteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"

           >

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:label="@string/app_name">
        </service>



    </application>

</manifest>
